.home-intro {
    text-align: left;
}

#home-grid i {
    font-size: 3rem;
}

#home-grid .text {
    font-size: 3rem;
}

.home-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    justify-items: center;
    text-align: left;
}

/* ------ Responsiveness ------ */
/* --- Small Screens --- */
@media only screen and (max-width: 600px) {
    .home-intro {
        text-align: left;
        padding: 0 1rem;
    }

    #home-grid i {
        font-size: 1.5rem;
    }

    #home-grid .text {
        font-size: 1.5rem;
    }
}

.intro-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.intro-grid img {
    width: 70%;
}
